.dygraph-label {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.dygraph-axis-label {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.dygraph-legend {
    box-shadow: 5px 5px 20px #888888;
    border-radius: 20px;
    font-size: 12px !important;
    font-family: Helvetica, sans-serif;
    max-width: 150px;
    left: 600px !important;
    text-align: center !important;
}

/* Once there are too many series it all starts looking a bit rubbish */
.dygraph-legend > span:not(.highlight) { display: none; }
.dygraph-legend > span.highlight {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto;
}
